@using SMS.Common
@using System.Linq

@{
    var alerts = TempData.ContainsKey(Alert.TempDataKey)
                ? (List<Alert>)TempData[Alert.TempDataKey]
                : new List<Alert>();
                        
    var onTop = ViewData["OnTop"].ConvertTo<bool?>();

    foreach (var alert in alerts.Where(x => onTop == null || x.RenderOnTop == onTop.Value))
    {
        var dismissableClass = alert.Dismissable ? "alert-dismissable" : null;
        <div class="alert alert-@alert.AlertStyle @dismissableClass">
            @if (alert.Dismissable)
            {
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            }
            @Html.Raw(alert.Message)
        </div>
    }

    alerts.RemoveAll(x => onTop == null || x.RenderOnTop == onTop.Value);
}