@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("SignOut", "Home", new { area = "Base" }, FormMethod.Post, new { @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right">
            @*<li>
                <a href="#">@("My DashBoard")</a>
            </li>*@
            <li>
                <a>@("Hello " + User.Identity.GetUserName() + "!")</a>
            </li>
           
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
                <ul class="dropdown-menu menu-ul-color" role="menu" aria-labelledby="top">
                    <li role="menuitem"><a href="#" class="dlgChangePassword">Change Password</a></li>
                    <li role="menuitem">
                        <a href="#" class="dlgConfirmSubmit" data-button-text="Yes" data-message="Are you sure you want to sign out?"
                           data-title="&lt;span class=&quot; glyphicon glyphicon-question-sign&quot; style=&quot; font-size:x-large;&quot;&gt &lt;/span&gt Confirm sign out"
                           style="min-width:75px">Sign out</a>
                    </li>
                </ul>
            </li>
        </ul>
    }
}
